:host {
  color: white;

  .partie-container {
    background-color: var(--light-gray);
    padding: 0 20px 0 0;
    box-shadow: 0px 5px 5px 0px rgba(187,134,252,0.5);

    h1 {
      font-weight: 400;
      font-size: 1.2rem; 
      padding: 10px;
      margin: 0;

      span {

        &.plus {
          color: var(--secondary);
          cursor: pointer;
          display: inline-block;
          float: right;

          &:hover {
            transform: rotate(90deg);
            transition: transform 550ms ease; 
          }
        }
      }
    }

    .content {
      font-size: .8rem;
    }
  }
}