<div class="partie-container">
  <h1 (click)="tooglePartie()">{{partie.typePartie}} <span>{{partie.date}}</span> <span class="plus" [ngClass]="deployed ? 'active' : ''">&#8249;</span></h1>

  <div *ngIf="deployed" class="content">
    <p class="winner"> <img src="assets/img/crown.svg" alt="couronne"> : {{getGagnant()}}</p>

    <div *ngFor="let res of partie.resultats" class="detail">
      <p *ngIf="res.joueurPreneur !== undefined">{{res.joueurDonneur.prenom}} -> {{res.joueurPreneur.prenom}} <span>{{res.somme}}€</span></p>
    </div>
  </div>
</div>