:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-grow: 0;

  app-somme {
    height: 20%;
  }

  #partie-container {
    height: 80%;
    background-color: var(--dark-gray);
    width: calc(100% + 20px);
    overflow-x: hidden;
    overflow-y: scroll;
  }
}

